{% extends '::base.html.twig' %}

{% block body -%}
    <a class="btn btn-xs btn-primary pull-right" href="{{ path('admin_activity') }}">
        &laquo; Return to Activity List
    </a>
    <h1>Activity edit</h1>

    {{ form(edit_form) }}

    {% if is_granted('ROLE_SUPER_ADMIN') %}
        <br><br>
        <hr>
        {{ form(delete_form) }}
    {% endif %}
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript" src="{{ asset('bundles/app/js/bootstrap-combobox.js') }}"></script>
{% endblock %}
{% block jQuery %}
    $('#appbundle_activity_school').combobox();
{% endblock %}