{% extends '::base.html.twig' %}
{% block styles %}
    {{ parent() }}
    <link rel="stylesheet" type="text/css" href="//cdn.datatables.net/plug-ins/1.10.7/integration/bootstrap/3/dataTables.bootstrap.css">
{% endblock %}
{% block body -%}
    {% if not is_granted('ROLE_ADMIN') %}
        <a class="btn btn-xs btn-primary pull-right" href="{{ path('admin_home') }}">
            &laquo; Return to Dashboard
        </a>
    {% endif %}
    <h1>View All School-Level Activities{% if title is defined %}<br><small> {{ title }}</small>{% endif %}</h1>
    <br>
    <div class="panel panel-default">
      <div class="panel-heading">
        {% if is_granted('ROLE_ADMIN') %}
            <a class="btn btn-primary pull-right" href="{{ path('admin_activity_new') }}">
                Add a New Activity
            </a>
        {% endif %}
        <h3 class="panel-title">View All Activities</h3><br>
      </div>
      <div class="panel-body">
        <table id="activity-table" class="table table-striped table-hover table-bordered table-responsive records_list">
            <thead>
                <tr>
                    <th>School</th>
                    <th>Activity Name</th>
                    <th>Categories</th>
                    {# <th>Topics</th> #}
                    <th>Group/People Involved</th>
                    <th>Partners</th>
                    {# <th>Is Featured</th> #}
                    {# <th>District-Wide</th> #}
                    <th>Project</th>
                    {% if is_granted('ROLE_ADMIN') %}
                        <th>Actions</th>
                    {% endif %}
                </tr>
            </thead>
            <tbody>
            {% for entity in entities %}
                <tr>
                    <td>{{ entity.school }}</td>
                    <td><a href="{{ path('admin_activity_show', { 'id': entity.id }) }}">{{ entity.name }}</a></td>
                    <td>{% for category in entity.activityCategories %}- {{ category }}<br>{% else %}<em>(none)</em>{% endfor %}</td>
                    {# <td>{% for topic in entity.topics %}- {{ topic }}<br>{% else %}<em>(none)</em>{% endfor %}</td> #}
                    <td>
                        {% for group in entity.groups %}- {{ group }}<br>{% endfor %}
                        {% for person in entity.people %}- {{ person }}<br>{% endfor %}
                    </td>
                    <td>{{ entity.partners }}</td>
                    {# <td>{{ entity.isFeatured }}</td> #}
                    {# <td>{{ entity.isDistrictWide }}</td> #}
                    <td>{% if entity.project %}{{ entity.project }}{% else %}<em>--</em>{% endif %}</td>
                    {% if is_granted('ROLE_ADMIN') %}
                        <td>
                            <a href="{{ path('admin_activity_show', { 'id': entity.id }) }}">view</a> |
                            <a href="{{ path('admin_activity_edit', { 'id': entity.id }) }}">edit</a>
                        </td>
                    {% endif %}
                </tr>
            {% endfor %}
            </tbody>
        </table>
      </div>
    </div>
    {% if is_granted('ROLE_ADMIN') %}
        <a class="btn btn-primary pull-right" href="{{ path('admin_activity_new') }}">
            Add a New Activity
        </a>
    {% endif %}
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script src="//cdn.datatables.net/1.10.7/js/jquery.dataTables.min.js"></script>
    <script src="//cdn.datatables.net/plug-ins/1.10.7/integration/bootstrap/3/dataTables.bootstrap.js"></script>
    <script type="text/javascript">
        $(document).ready(function(){
            $('#activity-table').DataTable({
                // "dom": 'lfrtip',
                dom:"<'row'<'col-sm-6'i><'col-sm-6'f>><'row'<'col-sm-12'tr>><'row'<'col-sm-5'l><'col-sm-7'p>>",
                "pageLength": 50
            });
        });
    </script>
{% endblock %}

