<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{% if page_title is defined %} {{ page_title }} | {% endif %} Penn GSE in Philadelphia Schools</title>
        {% block stylesheets %}{% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
        <link rel="stylesheet" type="text/css" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
        {% block styles %}
        {% endblock %}
        <link rel="stylesheet" type="text/css" href="{{ asset('bundles/app/css/styles-static.css') }}">
        <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
        <!--[if lt IE 9]>
          <script src="//oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
          <script src="//oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
        <![endif]-->
        <style type="text/css">
            body {
                padding-top: 0;
            }

            .alert {
                margin-bottom: 0
            }

            .navbar-inverse {
                background-color: #00122d
            }
            .navbar {
                background-color: #00122d;
                font-family: "Lato",Arial,sans-serif;
            }
            .navbar {
                border-radius: 0 !important;
                margin-bottom: 0;
            }
            .navbar-header .highlight {
                color: #61c7ed
            }

            .navbar-inverse .navbar-header {
                color: #fff;
                font-family: "Crimson",Georgia,serif;
                font-size: 20px;
                margin-top: 10px
            }

            .navbar-header {
                text-transform: uppercase;
                line-height: 20px;
                padding-bottom: 10px
            }

            .navbar-header .logo {
                float: left;
                margin-right: 20px;
                width: 180px;
                margin-top: 3px
            }

            .navbar-header .site-title {
                float: left;
                color: #fff !important
            }

            .navbar-header .highlight {
                color: #009ad4
            }

            .navbar-header em {
                text-transform: none
            }
        </style>
    </head>
    <body>
              {% if is_granted('ROLE_ADMIN') %}
                <div class="dropdown pull-right" style="margin-top:60px;position:absolute; right: 30px">
                  <button class="btn btn-sm btn-info dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                    Admin Menu
                    <span class="caret"></span>
                  </button>
                  <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                    <li><a href="{{ path('admin_activity') }}">View Activities</a></li>
                    <li><a href="{{ path('admin_projects') }}">View Projects</a></li>
                    {% if is_granted('ROLE_SUPER_ADMIN') %}
                        <li><a href="{{ path('import_activities') }}">Import New Activities</a></li>
                    {% endif %}
                    <li><a href="{{ path('admin_home') }}">Admin Console <span class="glyphicon glyphicon-cog" aria-hidden="true"></span></a></li>
                    <li><a href="{{ path('fos_user_security_logout') }}">Logout [{{ app.user }}]</a></li>
                  </ul>
                </div>
                {# <div style="clear:both;margin-bottom:-20px"></div> #}
              {% endif %}
    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
            <div class="navbar-header">
              <a href="http://www.gse.upenn.edu" target="_blank"><img class="logo" src="//www2.gse.upenn.edu/sites/all/themes/gse_basic/base/custom/img/gse_logo.png" /></a>
              <a href="http://www2.gse.upenn.edu/philly"><div class="site-title">
                  <span class="highlight">Penn GSE</span> <em>in</em><br> Philadelphia
              </div></a>
            </div>
            <div class="nav-menu pull-right">
{#                 <ul id="main-menu" class="nav navbar-nav">
                    <li class="menu-222 first"><a target="_blank" href="http://www2.gse.upenn.edu/philly"><span class="word1">Home</span> </a></li>
                    <li class="menu-380"><a target="_blank" href="http://www2.gse.upenn.edu/philly/content/about"><span class="word1">About</span> </a></li>
                    <li class="menu-379"><a target="_blank" href="http://www2.gse.upenn.edu/philly/content/how-use-map" class=""><span class="word1">How</span> <span class="word2">To</span> <span class="word3">Use</span> <span class="word4">the</span> <span class="word5">Map</span> </a></li>
                    <li class="menu-377 last"><a target="_blank" href="http://www2.gse.upenn.edu/philly/contact"><span class="word1">Contact</span> <span class="word2">Us</span> </a></li>
                </ul> #}
            </div>
        </div>
    </nav>

        <div class="container">

            <div class="main-content">
              {% set flashErrors = app.session.flashbag.get('error') %}
              {% set flashSuccesses = app.session.flashbag.get('success') %}
              {% if flashErrors|length != 0 %}
                <div class="alert alert-danger">
                  <strong>Oops! An error occurred.</strong><br>
                  {% for flashMessage in flashErrors %}
                      - {{ flashMessage }} <br>
                  {% endfor %}
                </div>
              {% endif %}
              {% if flashSuccesses|length != 0 %}
                <div class="alert alert-success">
                  {% for flashMessage in flashSuccesses %}
                      - {{ flashMessage }} <br>
                  {% endfor %}
                </div>
              {% endif %}
              {% block body %}
              {% endblock %}
            </div>

        </div><!-- /.container -->

        {% block javascripts %}
            <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
            <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
            <!-- Include all compiled plugins (below), or include individual files as needed -->
            <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
            <script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
            <script src="{{ path('fos_js_routing_js', {'callback': 'fos.Router.setData'}) }}"></script>
            <script src="{{ asset('bundles/app/js/scripts.js') }}"></script>
        {% endblock %}

        <script type="text/javascript">
            $(document).ready(function(){
              {% block jQuery %}{% endblock %}
            });
        </script>

    </body>
</html>
