{% extends '::base.html.twig' %}
{% block styles %}
	{{ parent() }}
    <link rel="stylesheet" type="text/css" href="//cdn.datatables.net/plug-ins/1.10.7/integration/bootstrap/3/dataTables.bootstrap.css">
{% endblock %}
{% block body %}

	<h2>Admin Console</h2>
	<br>
	<!-- Nav tabs -->
	<ul class="nav nav-tabs" role="tablist">
		<li role="presentation" class="active"><a href="#home" aria-controls="home" role="tab" data-toggle="tab">Schools</a></li>
		<li role="presentation"><a href="#categories" aria-controls="categories" role="tab" data-toggle="tab">Categories</a></li>
		<li role="presentation"><a href="#topics" aria-controls="topics" role="tab" data-toggle="tab">Topics</a></li>
		<li role="presentation"><a href="#people-groups" aria-controls="people-groups" role="tab" data-toggle="tab">Groups & People</a></li>
		<li role="presentation"><a href="#years" aria-controls="years" role="tab" data-toggle="tab">Years</a></li>
	</ul>
<div class="tab-content">
  <div role="tabpanel" class="tab-pane active" id="home">
	{# ----- School Panel ----- #}
	<br>
	<div class="panel panel-default">
	  <div class="panel-heading">
	    <h3 class="panel-title">Schools ({{ schools|length }} total)</h3>
	  </div>
	  <div id="school-data" class="panel-body">
		<table id="school-table" class="table table-striped table-bordered">
			<thead>
				<tr>
					<th>School</th>
					<th>School Code</th>
					<th>Grade Level</th>
					<th>Location</th>
				</tr>
			</thead>
			<tbody>
				{% for school in schools %}
					<tr>
						<td>{{ school.name }}</td>
						<td>{{ school.code }}</td>
						<td>{{ school.gradeLevel }}</td>
						<td>{{ school.latitude }}, {{ school.longitude }}</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>
	  </div>
	</div>
  </div>

  <div role="tabpanel" class="tab-pane" id="categories">
  	{# ----- Categories Panel ----- #}
  	<br>
	<div class="panel panel-default">
	  <div class="panel-heading">
	    <h3 class="panel-title">Categories</h3>
	  </div>
	  <div class="panel-body">
		<table class="table table-striped table-bordered">
			<thead>
				<tr>
					<th>Name</th>
					<th>Description</th>
				</tr>
			</thead>
			<tbody>
				{% for category in categories %}
					<tr>
						<td>{{ category.name }}</td>
						<td>{% if category.details %}{{ category.details }}{% else %}(no description){% endif %}</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>
	  </div>
	</div>
  </div>

  <div role="tabpanel" class="tab-pane" id="topics">
  	{# ----- Topics Panel ----- #}
  	<br>
	<div class="panel panel-default">
	  <div class="panel-heading">
	    <h3 class="panel-title">Topics</h3>
	  </div>
	  <div class="panel-body">
		<table class="table table-striped table-bordered">
			<thead>
				<tr>
					<th>Name</th>
				</tr>
			</thead>
			<tbody>
				{% for topic in topics %}
					<tr>
						<td>{{ topic.name }}</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>
	  </div>
	</div>
  </div>

  <div role="tabpanel" class="tab-pane" id="people-groups">
  	{# ----- People/Groups Panel ----- #}
  	<br>
	<div class="panel panel-default">
	  <div class="panel-heading">
	    <h3 class="panel-title">Groups</h3>
	  </div>
	  <div class="panel-body">
		<table class="table table-striped table-bordered">
			<thead>
				<tr>
					<th>Name</th>
					<th>Abbreviation</th>
					<th>Website</th>
					<th>Description</th>
				</tr>
			</thead>
			<tbody>
				{% for group in groups %}
					<tr>
						<td>{{ group.name }}</td>
						<td>{{ group.abbreviation }}</td>
						<td>{% if group.website %}<a target="_blank" href="{{ group.website }}">{{ group.website }}</a>{% endif %}</td>
						<td>{% if group.description %}{{ group.description }}{% else %}(no description){% endif %}</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>
	  </div>
	</div>
	<div class="panel panel-default">
	  <div class="panel-heading">
	    <h3 class="panel-title">People</h3>
	  </div>
	  <div class="panel-body">
		<table class="table table-striped table-bordered">
			<thead>
				<tr>
					<th>Name</th>
					<th>Website</th>
				</tr>
			</thead>
			<tbody>
				{% for person in people %}
					<tr>
						<td>{{ person.name }}</td>
						<td>{% if person.website %}<a target="_blank" href="{{ person.website }}">{{ person.website }}</a>{% endif %}</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>
	  </div>
	</div>
  </div>

  <div role="tabpanel" class="tab-pane" id="years">
  	{# ----- Years Panel ----- #}
  	<br>
	<div class="panel panel-default">
	  <div class="panel-heading">
	    <h3 class="panel-title">Years</h3>
	  </div>
	  <div class="panel-body">
		<table class="table table-striped table-bordered">
			<thead>
				<tr>
					<th>Year</th>
					<th>Map Boundaries File</th>
				</tr>
			</thead>
			<tbody>
				{% for year in years %}
					<tr>
						<td>{{ year.year }}{% if year.isCurrentYear %} - <strong>current</strong>{% endif %}</td>
						<td>{% if boundaryFiles[year.year].status %}File loaded.{% else %}<code>file not found: <strong>{{ boundaryFiles[year.year].filename }}</strong></code>{% endif %}</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>
	  </div>
	</div>
  </div>
</div>
{% endblock %}
{% block javascripts %}
	{{ parent() }}
	<script src="//cdn.datatables.net/1.10.7/js/jquery.dataTables.min.js"></script>
    <script src="//cdn.datatables.net/plug-ins/1.10.7/integration/bootstrap/3/dataTables.bootstrap.js"></script>
    <script type="text/javascript">
    	$(document).ready(function(){
    		$('#school-table').DataTable();
    	});
	</script>
{% endblock %}