<html>
<head>
    <title>Penn GSE in Philadelphia - View the Map</title>
    {# <link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/leaflet/0.7.3/leaflet.css" /> #}
    <link rel="stylesheet" type="text/css" href="{{ asset('vendor/leaflet/dist/leaflet.css') }}">

    {% block stylesheets %}{% endblock %}
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    <link rel="stylesheet" type="text/css" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    {% block styles %}
    {% endblock %}
    <link rel="stylesheet" type="text/css" href="{{ asset('fonts/fonts.css') }}">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css"/>
    {% if app.environment != 'prod' %}
        <link rel="stylesheet" type="text/css" href="{{ asset('bundles/app/css/styles.css') }}">
    {% else %}
        <link rel="stylesheet" type="text/css" href="{{ asset('css/styles.css') }}">
    {% endif %}
</head>
<body style="padding-top:0">
    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
            <div class="navbar-header">
              <img class="logo" src="http://www2.gse.upenn.edu/sites/all/themes/gse_basic/base/custom/img/gse_logo.png" />
              <div class="site-title">
                  <span class="highlight">Penn GSE</span> <em>in</em><br> Philadelphia
              </div>
            </div>
        </div>
    </nav>
    <!-- MappingApp Container -->
    <div id="mapping-app">
    </div>
    <!-- END MappingApp Container -->

    <!-- Javascript Files -->
    <script src="{{ mapFile }}"></script> <!-- Map -->
    <script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script> <!-- JS Routing -->
    <script src="{{ path('fos_js_routing_js', {'callback': 'fos.Router.setData'}) }}"></script>

    {% if app.environment != 'prod' %}
        <script type="text/javascript" src="{{ asset('bundles/app/js/bundle.js') }}"></script>
    {% else %}
        <script type="text/javascript" src="{{ asset('js/bundle.js') }}"></script>
    {% endif %}
</body>
</html>