{% block extends %}
{{ "{% extends '::base.html.twig' %}" }}
{% endblock extends %}

{% block body %}
{{ "{% block body -%}" }}
    <a class="btn btn-xs btn-primary pull-right" href="{{ "{{ path('" ~ route_name_prefix ~ "') }}" }}">
        &laquo; Return to {{ entity }} List
    </a>
    <h1>Edit {{ entity }}</h1>

    {{ '{{ form(edit_form) }}' }}

    {{ "{% if delete_form is defined and is_granted('ROLE_SUPER_ADMIN') %}" }}
        <br><br>
        <hr>
        {{ '{{ form(delete_form) }}' }}
    {{ "{% endif %}" }}

{{ "{% endblock %}" }}
{% endblock body %}
